<div class="bg-black py-3">
    <div class="container mx-auto text-center">
        <p class="text-white font-light">Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%!</p>
    </div>
</div>
<div class="border-b-[0.5px] border-gray-200">
    <div class="container mx-auto flex items-center justify-between py-4">
        <div class="flex items-center gap-2">
            <span class="text-xl font-bold">MegaCart</span>
        </div>
        <div class="flex items-center gap-6">
            <nav class="flex items-center gap-6">
                <a href="home" class="text-gray-600 hover:text-gray-900">Home</a>
                <a href="about" class="text-gray-600 hover:text-gray-900">About</a>
                <a href="cart" class="text-gray-600 hover:text-gray-900">Cart</a>
                <a href="contact" class="text-gray-600 hover:text-gray-900">Contact</a>
            </nav>
        </div>

        <div class="flex items-center gap-3">
            <div>
                <input type="text" class="px-3 py-2 rounded-full bg-[#F5F5F5] text-sm" placeholder="What are you looking for?" name="" id="">
            </div>
            <button class="text-gray-600 hover:text-gray-900">
                <img src="assets/icons/Cart1.svg" alt="">
            </button>
            <button class="text-gray-600 hover:text-gray-900">
                <i class="fas fa-shopping-cart"></i>
            </button>
        </div>

    </div>
</div>