<div class="grid grid-cols-1 gap-5 h-[400px]">
    <!--<div class="col-span-2 grid grid-cols-2 gap-4">
        @for (item of destaques; track $index) {

            <app-card-product [product]="item"></app-card-product>

        }
    </div>-->
    
  <swiper-container class="mySwiper" pagination="true" pagination-dynamic-bullets="true">
    <swiper-slide><img src="assets/img/destaque1.png" alt=""></swiper-slide>
    <swiper-slide><img src="assets/img/destaque2.png" alt=""></swiper-slide>
    <swiper-slide><img src="assets/img/destaque3.png" alt=""></swiper-slide>
    <swiper-slide><img src="assets/img/destaque4.png" alt=""></swiper-slide>
    <swiper-slide><img src="assets/img/destaque5.png" alt=""></swiper-slide>
    <swiper-slide><img src="assets/img/destaque6.png" alt=""></swiper-slide>
    <swiper-slide><img src="assets/img/destaque7.png" alt=""></swiper-slide>
    <swiper-slide><img src="assets/img/destaque8.png" alt=""></swiper-slide>
    <swiper-slide><img src="assets/img/destaque9.png" alt=""></swiper-slide>
  </swiper-container>

<swiper-container
  class="mySwiper-thumbs mt-2"
  space-between="10"
  slides-per-view="3"
  free-mode="true"
  watch-slides-progress="true"
>
</swiper-container>
</div>